.leaflet-container {
  height: 600px;
  min-height: calc(100vh - 56px);
  width: 100%;
}

.navbar-bs {
  z-index: 3;
  -webkit-box-shadow: 0px 10px 14px -10px rgba(0,0,0,0.46);
  -moz-box-shadow: 0px 10px 14px -10px rgba(0,0,0,0.46);
  box-shadow: 0px 10px 14px -10px rgba(0,0,0,0.46);
}

.connected-services-header {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.service-item {
  display: flex;
  align-items: center;
}

.service-item > h5 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.location-details-list {
  list-style-type: none;
}


.connected-services-header > button {

}